* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "montserrat";
    background-image: linear-gradient(125deg, #fbc531, #0097e6, #8c7ae6, #e84118, #40739e);
    background-size: 600%;
    animation: bgnimation 15s infinite;
    /* width: 100vw;
    height: 100vh; */
}

.text {
    color: white;
    text-align: center;
    text-transform: uppercase;
    /* 定义仅为大小写 */
    margin: 500px 0;
    font-size: 22px;
}

@keyframes bgnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* 用动画移动渐变图层 */